* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(19, 19, 78);
}

#section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(60, 60, 218);
}

.container {
    position: relative;
    min-width: 65vw;
    min-height: 70vh;
    background-color: white;
    display: flex;
    z-index: 10;
}

.container .contact__info {
    position: absolute;
    top: 40px;
    left: -130px;
    width: 340px;
    height: calc(100% - 80px);
    background-color: rgb(19, 19, 78);
    z-index: 1;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    /* gap: 10vh; */
    justify-content: space-between;
}

.contact__info .address__list {
    width: 100%;
    height: 50%;
    padding: 10px;
    /* background-color: white; */
}

.contact__info .address__list .address__heading {
    color: rgb(250, 232, 200);
    font-weight: 600;
    margin-bottom: 30px;
}

.contact__info .address__list ul li {
    padding-bottom: 25px;
}

.contact__info .address__list ul li i {
    padding-right: 10px;
}

.contact__info ul li {
    list-style: none;
    color: rgb(243, 195, 106);
}

.contact__info ul li i {
    font-size: 20px;
    /* font-weight: normal; */
}

.contact__info .icons__list ul {
    margin-left: 20px;
}

.contact__info .icons__list ul li i {
    float: left;
    padding-right: 25px;
    font-size: 25px;
}

.contact__info .icons__list ul li i:hover {
    color: #000;
}

.contact__form {
    background-color: teal;
    position: absolute;
    top: 0;
    left: 300px;
    width: calc(100% - 300px);
    height: 100%;
    padding: 40px;
}