* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    /* background-color: rgb(19, 19, 78); */
    background-color: #501B1D;
}

#section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    /* background-color: rgb(60, 60, 218); */
    background-color: #83677B;
}

.container {
    position: relative;
    min-width: 65vw;
    min-height: 70vh;
    background-color: #e0c7da;
    display: flex;
    z-index: 10;
}

.container .contact__info {
    position: absolute;
    top: 40px;
    left: -130px;
    width: 340px;
    height: calc(100% - 80px);
    background-color: #501B1D;
    z-index: 1;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact__info .address__list {
    width: 100%;
    height: 50%;
    padding: 10px;
}

.contact__info .address__list .address__heading {
    color: rgb(250, 232, 200);
    font-weight: 600;
    margin-bottom: 30px;
}

.contact__info .address__list ul li {
    padding-bottom: 25px;
}

.contact__info .address__list ul li i {
    padding-right: 10px;
}

.contact__info ul li {
    list-style: none;
    color: rgb(243, 195, 106);
}

.contact__info ul li i {
    font-size: 20px;
}

.contact__info .icons__list ul {
    margin-left: 20px;
}

.contact__info .icons__list ul li i {
    float: left;
    padding-right: 25px;
    font-size: 25px;
}

.contact__info .icons__list ul li i:hover {
    color: #000;
}

.contact__form {
    position: absolute;
    top: 0;
    left: 300px;
    width: calc(100% - 300px);
    height: 100%;
    padding: 40px;
}

.contact__form__heading {
    margin-left: 20px;
    color: #501B1D;
    font-size: 25px;
    font-weight: 600;
}

.form__group {
    width: 100%;
}

input,
textarea {
    width: 40%;
    margin: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid gray;
    font-size: 18px;
    color: #501B1D;
    font-family: 'Poppins', sans-serif;
}

button {
    width: 25%;
    margin: 20px;
    background-color: #501B1D;
    border: none;
    height: 35px;
    border-radius: 1px;
    color: rgb(243, 195, 106);
    font-size: 15px;
}

.home__link {
    background-color: #501B1D;
    padding: 6px 25px;
}

a {
    text-decoration: none;
    margin: 20px;
    color: rgb(182, 181, 181);
    font-size: 15px;
}

a:hover {
    color: rgb(243, 195, 106);
}

input {
    height: 50px;
}

textarea {
    height: 80px;
    width: 90%;
}

input:focus,
textarea:focus {
    outline: none;
}


/* Responsive  */

@media screen and (max-width: 1240px) {
    .container .contact__info {
        left: -130px;
        width: 300px;
        padding: 40px 25px;
    }
    .contact__info .address__list .address__heading {
        color: rgb(250, 232, 200);
        font-weight: 500;
        margin-bottom: 20px;
    }
    .contact__info ul li i {
        font-size: 18px;
    }
    .contact__info .address__list ul li {
        padding-bottom: 20px;
    }
    .contact__info .address__list ul li i {
        padding-right: 5px;
    }
    .contact__info .icons__list ul li i {
        float: left;
        padding-right: 20px;
        font-size: 20px;
    }
    .contact__form {
        left: 150px;
        width: calc(100% - 150px);
    }
}

@media screen and (max-width: 1040px) {}