/* Responsive  */

@media screen and (max-width:1440px) {
    /* Navbar */
    .navbar1__main__div {
        padding: 0 10vw;
    }
    .navbar1__heading {
        font-size: 130%;
    }
    .navbar1__main__div .navbar1__list__div .navbar1__li a {
        font-size: 100%;
    }
}

@media screen and (max-width:768px) {
    /* Navbar */
    .navbar1__heading {
        font-size: 100%;
    }
    .navbar1__main__div .navbar1__list__div .navbar1__li a {
        font-size: 80%;
    }
    /* Logo Section */
    .logo__div__container {
        padding: 0 10vw;
    }
    .logo__image__div img {
        width: 9vw;
        height: 9vw;
    }
    .logo__text__div .logo__main__heading {
        font-size: 180%;
    }
    .logo__text__div .logo__sub__heading {
        font-size: 80%;
    }
}

@media screen and (max-width:426px) {
    /* Navbar */
    #navbar__top {
        display: block;
    }
    .navbar1__main__div {
        display: flex;
        flex-direction: column;
    }
    .navbar1__heading__div {
        padding-top: 2vh;
    }
    .navbar1__list__div {
        display: none;
    }
}