* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    background-color: #ADADAD;
}


/* Colors 
    1. #2E1114 -- Dark red --towards brown
    2. #501B1D -- faded red
    3. #64485C -- faded purple -- little darkish
    4. #83677B -- faded lighter purple
    5. #ADADAD -- very light gray
    6. #d4d3d3 -- almost white -- for text
*/


/* 
#############################################
---------------------------------------------
                NAVBAR TOP
---------------------------------------------
############################################# 
*/

#navbar__top {
    width: 100%;
    /* height: 8vh; */
    background-color: #2E1114;
}

.navbar1__main__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 0 6vw;
    color: #d4d3d3;
}

.navbar1__heading__div {
    /* align-self: center; */
    align-items: center;
}

.navbar1__heading {
    font-family: 'Style Script', cursive;
    letter-spacing: 1.78px;
    font-size: 125%;
    font-weight: 500;
}


/* .navbar1__list__div {} */

.navbar1__main__div .navbar1__list__div .navbar1__li {
    float: right;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    padding-left: 2vw;
}

.navbar1__main__div .navbar1__list__div .navbar1__li a {
    text-decoration: none;
    font-size: 90%;
    color: white;
}


/* 
#############################################
---------------------------------------------
            LOGO & NAME SECTION
---------------------------------------------
############################################# 
*/

#logo__section__main__div {
    width: 100%;
    height: 15vh;
    background-color: #beafba;
    border-bottom: 2px solid #2E1114;
}

.logo__div__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

.logo__image__div {
    margin-top: 1em;
}

.logo__image__div img {
    width: 6vw;
    height: 6vw;
}

.logo__text__div {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.logo__text__div .logo__main__heading {
    font-size: 200%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #2E1114;
}

.logo__text__div .logo__sub__heading {
    font-size: 90%;
    margin-top: 1vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #53141b;
}

.logo__image__duplicate {
    opacity: 0;
}


/* Responsive  */

@media screen and (max-width:1440px) {
    /* Navbar */
    .navbar1__main__div {
        padding: 0 10vw;
    }
    .navbar1__heading {
        font-size: 130%;
    }
    .navbar1__main__div .navbar1__list__div .navbar1__li a {
        font-size: 100%;
    }
}

@media screen and (max-width:768px) {
    /* Navbar */
    .navbar1__heading {
        font-size: 100%;
    }
    .navbar1__main__div .navbar1__list__div .navbar1__li a {
        font-size: 80%;
    }
    /* Logo Section */
    .logo__image__div img {
        width: 9vw;
        height: 9vw;
    }
    .logo__text__div .logo__main__heading {
        font-size: 180%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #2E1114;
    }
    .logo__text__div .logo__sub__heading {
        font-size: 80%;
        margin-top: 1vh;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #53141b;
    }
}

@media screen and (max-width:426px) {
    /* Navbar */
    #navbar__top {
        display: block;
    }
    .navbar1__main__div {
        display: flex;
        flex-direction: column;
    }
    .navbar1__heading__div {
        padding-top: 2vh;
    }
    .navbar1__list__div {
        display: none;
    }
}